<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>DoctorAI</title>
    <meta name="description" content="Skin Disease detection and treatment management susceptibility by AI">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- SEO Meta Tags -->
    <meta name="keywords" content="medicine, AI, disease detection, treatment management">
    <meta name="author" content="MedAI">
    <meta name="robots" content="index, follow">
    
    

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- JavaScript -->
    <script src="/static/js/main.js"></script>
</head>



<body>
    <div class="upper">
        <!-- <img src="/static/images/medAi_2.png"> -->
        <img src="/static/images/setthis.png">
        <p>Detect the Disease and get first aid diagonistic done now itself</p>
    </div>

    <div>
        <button onclick="location.href='/signin';"> Lets get in</button>
    </div>


</body>

</html>